<!DOCTYPE html>
<html lang="pt-br">

<head>
    <th:block th:include="fragments/head :: head"></th:block>

    <link rel="stylesheet" href="/assets/styles/user-style.css" />
    <title>GestãoCash | Cadastrar usuário</title>
</head>

<body>
      <div th:replace="fragments/header :: header"></div>
    <section class="form-box">
        <div th:if="${param.error}">
            Email ou Senha inválidos
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form class="form" th:action="@{/login}" method="post">
            <span class="title">Log in</span>

            <div class="form-container">

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label subtitle">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="username">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label subtitle">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
            </div>
            <button>Entrar</button>
        </form>
        <div class="form-section">
            <p>Esqueceu a senha? <a href="">Clique para recuperar</a> </p>
        </div>
    </section>
    <div th:replace="fragments/footer :: footer"></div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="../assets/scripts/scripts.js"></script>
</body>

</html>