:root {
    --azul-claro: #5197f5;
    --cinza-claro: #83a4c9;
    --azul-escuro: #04347c;
    --cinza-escuro: #6881a5;
    --cinza-quase-branco: #c4d1e0;
}

body {
    background: #f4f4f4;
}

header.header-client {
    background: var(--azul-escuro);
}

div.container {
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
}

tbody td:last-child,
thead th:last-child {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

td:first-child {
    width: 50px;
}

td:nth-child(2) {
    text-transform: capitalize;
}

td:nth-child(4) {
    text-transform: capitalize;
}

tr {
    padding: 2rem;
}

.table > :not(caption) > * > * {
    padding: 1rem;
}

.fa-pen {
    color: #ffc107;
    font-size: 20px;
    font-weight: bold;
}

.fa-trash {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.modal-header .close {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background: none;
    font-weight: bolder;
    font-size: 22px;
}

.footer {
    position: absolute;
    bottom: 0;
}
