:root {
    --azul-claro: #5197f5;
    --cinza-claro: #83a4c9;
    --azul-escuro: #04347c;
    --cinza-escuro: #6881a5;
    --cinza-quase-branco: #c4d1e0;
}

section,
main,
footer {
    font-family: 'Roboto', sans-serif;
}

header div,
.list-items,
.text div,
.text h1,
.text h4,
.text p {
    z-index: 2;
}

.list-items:last-child {
    margin-bottom: 71px;
}

.section-1-container {
    position: relative;
    padding: 0;
}

#img1 {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#img2,
#img3 {
    display: none;
}

main {
    background: rgb(4, 52, 124);
    background: linear-gradient(
        277deg,
        rgb(75, 146, 250) 0%,
        rgb(57, 101, 251) 48%
    );
    /* margin-top: -72px; */
    padding-bottom: 100px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0 20px;
}

.text h1 {
    color: var(--azul-escuro);
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0.1em 0 0 #fff;
    margin: 2rem 1rem;
    margin-left: 0;
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    animation: caret 0.5s step-end infinite alternate, type 5s steps(23, end);
}

@keyframes type {
    0% {
        width: 0;
    }
}
@keyframes caret {
    50% {
        box-shadow: 0.6em 0 0 transparent;
    }
}

.text h4,
p {
    color: var(--cinza-quase-branco);
    width: 90%;
    font-size: 0.9rem;
}

.button1 a,
.button2 a {
    color: var(--cinza-quase-branco);
    text-decoration: none;
}

.button1,
.button2 {
    padding: 8px;
    border-radius: 3px;
    border: 4px solid var(--azul-escuro);
}

.button1 {
    background-color: var(--azul-escuro);
}

.button2 {
    background-color: transparent;
}

.button1:hover {
    background-color: transparent;
}

.button2:hover {
    background: var(--azul-escuro);
}

.section-2-container {
    background-color: #fff;
    padding: 25px 0;
}

.section-2-container > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text-section h2 {
    color: var(--azul-escuro);
    font-weight: bold;
    font-size: 3rem;
}

.text-section2 {
    align-self: center;
}

.text-section2 h2 {
    color: var(--azul-escuro);
    font-weight: bold;
}

.text-section2 p {
    width: 100%;
    color: var(--cinza-escuro);
}

.img-section2 img {
    width: 90%;
}

.section-3-container {
    min-height: 600px;
}

.section-3-container h2,
.section-4-container h2 {
    text-shadow: 2px 2px 5px #ffffff33;
    color: var(--azul-escuro);
    font-size: 3rem;
    font-weight: 700;
}

.cards-section3,
.cards-section4 {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.card-info {
    background: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--azul-escuro);
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
    max-width: 245px;
    height: auto;
    padding: 10px 0;
    border: 4px var(--cinza-quase-branco) solid;
    border-radius: 0;
}

.card-info > div {
    width: 115%;
    background-color: var(--azul-claro);
    text-align: center;
    padding: 10px 0;
    border: 4px var(--cinza-quase-branco) solid;
}

.card-info h5 {
    color: var(--cinza-quase-branco);
    height: 48px;
}

.card-info > div > span {
    font-size: 1rem;
    color: var(--cinza-quase-branco);
}

.card-info p:last-child {
    font-size: 1rem;
    width: 90%;
    margin: 0;
}

.section-4-container {
    margin-top: 100px;
    min-height: 600px;
}

@media screen and (max-width: 457px) {
    .text h4,
    h1 {
        display: none;
    }

    .button1,
    .button2 {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .list-items:last-child {
        margin-bottom: 0;
    }

    .section-1-container {
        height: 800px;
    }

    .container-img img {
        display: flex;
        flex-direction: column;
        width: 33%;
        position: absolute;
        z-index: 1;
    }

    #img1,
    #img2,
    #img3 {
        border-radius: 3px;
        width: 500px;
        height: 333px;
    }

    #img1 {
        top: 10px;
        right: 300px;
        opacity: 1;
    }

    #img2 {
        top: 230px;
        right: 0;
        display: block;
    }

    #img3 {
        top: 450px;
        right: 300px;
        display: block;
    }

    .text h1 {
        color: var(--azul-escuro);
        font-size: 4rem;
        font-weight: 600;
    }

    .text h4,
    p {
        color: var(--cinza-quase-branco);
        width: 50%;
    }

    .text {
        position: static;
        padding: 0 0;
    }

    .section-2-container > div {
        flex-direction: row;
    }

    .text-section2 p {
        font-size: 1.2rem;
    }

    .img-section2 img {
        width: 512px;
    }

    .content-section3,
    .content-section4 {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .background-section3 {
        background-image: url('https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/graficomao.jpg');
    }

    .background-section3,
    .background-section4 {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 500px;
        opacity: 0.6;
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.53);
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.53);
    }

    .background-section4 {
        background-image: url('https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/alunos.jpg');
    }

    .section-3-container,
    .section-4-container {
        position: relative;
    }

    .card-info {
        flex: 1;
    }

    .cards-section3,
    .cards-section4 {
        flex-wrap: nowrap;
    }
}
