<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> </head>
    <body>
        <footer class="footer">
            <img
                class="image"
                src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/logo.png" />
            <p class="lis">© 2023 GestãoCash Brasil</p>
            <div class="rede">
                <a href="#">
                    <img
                        class="face"
                        src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/face.png" />
                </a>
                <a href="#">
                    <img
                        class="rede-social"
                        src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/twiter.png" />
                </a>
                <a href="#">
                    <img
                        class="rede-social"
                        src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/youtube.png" />
                </a>
                <a href="#">
                    <img
                        class="rede-social"
                        src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/insta.png" />
                </a>
            </div>

            <a href="#">
                <span>Termos de serviço</span>
            </a>
            <a href="contato.html">
                <span>Fale conosco</span>
            </a>
            <a href="#">
                <span>Politica de privacidade</span>
            </a>
            <a href="#">
                <span>Condições gerais</span>
            </a>
        </footer>
    </body>
</html>
