<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> </head>
    <body>
        <header>
            <nav class="nav navbar navbar-expand-lg bg-transparent text-center">
                <div class="container">
                    <a class="navbar-brand" href="/"
                        ><img
                            src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/logo.png"
                            class="logo-img"
                            alt="logo gestãocash"
                    /></a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse justify-content-end"
                        id="navbarNavDropdown">
                        <ul class="navbar-nav gap-3 fs-5 list-items">
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/"
                                    >Página inicial</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    href="/usuario/area-cliente"
                                    >Área do cliente</a
                                >
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/duvidas.html"
                                    >Dúvidas frequentes</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contato.html"
                                    >Contato</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sobre.html">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    href="/usuario/cadastro"
                                    >Cadastre-se</a
                                >
                            </li>
                             <li class="nav-item" th:if="${getUser}">
                                <a
                                    class="nav-item btn btn-danger btn-sm"
                                    href="/logout"
                                    >Logout</a
                                >
                            </li>
                            <li class="nav-item" th:if="${getUser == null}">
                                <a
                                    class="nav-link active"
                                    href="/login"
                                    >Login</a
                                >
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>
