<!DOCTYPE html>
<html lang="pt-br">

<head>
    <th:block th:include="fragments/head :: head"></th:block>

    <link rel="stylesheet" href="/assets/styles/home-style.css" />
    <title>GestãoCash | Pág. Inicial</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <main>
        <section class="section-1-container container-lg">
            <div class="container-img">
                <img id="img1"
                    src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/image1.jpg"
                    alt="" />
                <img id="img2"
                    src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/image2.jpg"
                    alt="" />
                <img id="img3"
                    src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/image3.jpg"
                    alt="" />
            </div>
            <div class="text">
                <h1>Gestão e conhecimento</h1>
                <h4>
                    Aumente seu patrimônio, saia da informalidade, aprenda a
                    gerir seu negócio de forma simples.
                </h4>
                <p>
                    Uma plataforma de gestão e conhecimento facilitando você
                    no controle de estoque, controle das finanças,
                    pagamentos de impostos, investimentos, formalização do
                    seu nécogio e muito mais.
                </p>
                <div>
                    <button class="button1">
                        <a class="" href="duvidas.html">Tirar dúvidas</a>
                    </button>
                    <button class="button2">
                        <a href="#info">Conhecer mais</a>
                    </button>
                </div>
            </div>
        </section>

        <section class="section-2-container">
            <div class="container">
                <div class="text-section2 container">
                    <h2>GestãoCash é para mim ?</h2>
                    <p>
                        Segundo a ultima pesquisa do PNADC 65,66% do
                        empreendedores estão na informalidade, a maioria não
                        consegue se manter pelos 5 primeiros anos, dessa
                        forma pensamos em algo para mudar essa estatística e
                        transformar seu negócio em algo profissional e
                        escalável.
                        <br />
                        Se você se enquadra nesse perfil e tem interesse em
                        transformar seu negócio, com certeza é para você.
                    </p>
                </div>
                <div class="img-section2">
                    <img src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/grafico.png"
                        alt="simulação grafico" />
                </div>
            </div>
        </section>

        <section class="container section-3-container mt-5" id="info">
            <div class="background-section3">
                <h2 class="text-center pt-3">
                    Por que escolher a GestãoCash ?
                </h2>
            </div>

            <div class="content-section3">
                <div class="cards-section3">
                    <div class="card-info">
                        <h5>Controle Total das Finanças</h5>
                        <div>
                            <span>Não se preocupe !</span>
                        </div>
                        <p>
                            Diga adeus às planilhas confusas e aos gastos
                            desorganizados. Você terá um controle total
                            sobre suas finanças em um único lugar. Visualize
                            suas receitas, despesas e lucros de maneira
                            clara e concisa.
                        </p>
                    </div>

                    <div class="card-info">
                        <h5>Facilidade de uso</h5>
                        <div>
                            <span>Navegue sem dificuldade !</span>
                        </div>
                        <p>
                            A interface intuitiva foi projetada pensando em
                            você. Mesmo que você não seja um especialista em
                            finanças, gerenciar suas finanças será tão
                            simples quanto um clique.
                        </p>
                    </div>

                    <div class="card-info">
                        <h5>Orçamento Inteligente</h5>
                        <div>
                            <span>Planeje seu futuro !</span>
                        </div>
                        <p>
                            Estabeleça metas financeiras claras e
                            alcançáveis com nosso sistema de orçamento
                            inteligente. Receba insights personalizados
                            sobre onde você pode economizar e onde investir
                            mais, para maximizar seu potencial de
                            crescimento.
                        </p>
                    </div>

                    <div class="card-info">
                        <h5>Controle de estoque</h5>
                        <div>
                            <span>Controle total !</span>
                        </div>
                        <p>
                            Seus estoque muito mais equilibrado evitando
                            desperdício e produtos que não geram venda,
                            tenha alertas com produtos faltantes, dados com
                            os que vendem mais e os que vendem menos.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container section-4-container">
            <div class="background-section4">
                <h2 class="text-center pt-3">
                    Além de um facilitador. Uma plataforma de conhecimento!
                </h2>
            </div>

            <div class="content-section4">
                <div class="cards-section4">
                    <div class="card-info">
                        <h5>Insights Estratégicos</h5>
                        <div>
                            <span>Aprenda !</span>
                        </div>
                        <p>
                            Domine a arte da análise financeira,
                            planejamento de negócios e estratégias de
                            crescimento para tomar decisões embasadas.
                        </p>
                    </div>

                    <div class="card-info">
                        <h5>Empreendedorismo</h5>
                        <div>
                            <span>A arte de empreender !</span>
                        </div>
                        <p>
                            Acesse guias práticos, tutoriais e ferramentas
                            essenciais que abrangem desde a concepção de
                            ideias até a expansão de negócios, tudo em um só
                            lugar.
                        </p>
                    </div>

                    <div class="card-info">
                        <h5>Parceria Sebrae</h5>
                        <div>
                            <span>Parceria Sebrae</span>
                        </div>
                        <p>
                            Nossa parceria com o sebrae ajuda o empreendedor
                            no desenvolvimento do seu negócio com os
                            melhores especialistas do mercado.
                        </p>
                    </div>

                    <div class="card-info">
                        <h5>Declare seu IR</h5>
                        <div>
                            <span>Contador pessoal !</span>
                        </div>
                        <p>
                            Aprenda com o nosso contador como declarar seu
                            imposto de renda, e sua declaração MEI anual.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>